//
//  Config.xcconfig
//  DotLocal
//
//  Created by Suphon Thanakornpakapong on 10/1/2567 BE.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Version.xcconfig"

APP_BUNDLE_IDENTIFIER = dev.suphon.DotLocal
HELPER_TOOL_BUNDLE_IDENTIFIER = $(APP_BUNDLE_IDENTIFIER).helper

APP_VERSION = $(MARKETING_VERSION)
HELPER_VERSION = $(MARKETING_VERSION)
