<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>dev.suphon.DotLocal.helper</string>
	<key>BundleProgram</key>
	<string>Contents/Library/LaunchDaemons/DotLocalHelperTool</string>
	<key>MachServices</key>
	<dict>
		<key>dev.suphon.DotLocal.helper</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/dotlocal.out</string>
	<key>StandardErrPath</key>
	<string>/tmp/dotlocal.err</string>
</dict>
</plist>
